<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <div class="aa-title">
                        <h2>Latest News</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magni, est harum repellendus. Accusantium, nostrum!</p>
                    </div>
                    <div class="aa-latest-blog-content">
                        <div class="row">
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="img/blog-img-1.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>

                                </article>
                            </div>
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="img/blog-img-2.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="img/blog-img-3.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>