<section id="aa-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-agents-area">
                    <div class="aa-title">
                        <h2>Our Suppliers</h2>
                        <span></span>
                        <p>Suppliers</p>
                    </div>
                    <!-- agents content -->
                    <div class="aa-agents-content">
                       @await Component.InvokeAsync("Supplier")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>