@model CoreProjectRemasterd.Models.Offer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OfferID" />
            <div class="form-group">
                <label asp-for="OfferTitle" class="control-label"></label>
                <input asp-for="OfferTitle" class="form-control" />
                <span asp-validation-for="OfferTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferDescription" class="control-label"></label>
                <input asp-for="OfferDescription" class="form-control" />
                <span asp-validation-for="OfferDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferImage" class="control-label"></label>
                <input asp-for="OfferImage" class="form-control" />
                <span asp-validation-for="OfferImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

